* {
  margin: 0;
  padding: 0;
}
body {
  background: rgba(0, 0, 0, 0.0001);
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Montserrat";
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
ul,
li {
  list-style: none;
}
.container__list {
  text-align: center;
}
li {
  display: inline-block;
  height: 78px;
}
a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 2.7px;
  color: #ff0000;
  display: inline-block;
}
.container__item {
  padding: 26px 36px 26px 36px;
}
.container__item1 {
  padding: 26px 14px 26px 14px;
}

.banner {
  background-image: url("../images/image\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 789px;
}
.content {
  margin-top: 48px;
}
.content__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 3.3px;
  color: #373737;
  text-align: center;
  margin-bottom: 38px;
}
.content__item1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: center;
  margin-bottom: 28px;
}
.content__item2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: center;
  margin-bottom: 66px;
}
.button__space {
  text-align: center;
}
.button {
  padding: 18px 44px 17px 43px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1.8px;
  margin-bottom: 59px;
}
.footer {
  height: 108px;
  margin-top: 40px;
}
.copyright {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 2.4px;
  color: #373737;

  text-align: right;
}
